/* Google Font Montserrat*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Google Font (Roboto 400). Link:https://fonts.google.com/specimen/Roboto?preview.text_type=custom */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Set up */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

html {
    font-size: 89.5%;
}

img {
    max-width: 100%;
}

body {
    background: #f2f2f2;
}


/*
============
===Header===
============ 
*/


/* Navigation */

.wrapper {
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    position: relative;
    width: 100%;
    z-index: 1000;
}

.wrapper nav {
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

nav .content {
    display: flex;
    align-items: center;
}

nav .content .links {
    margin-left: 60px;
    display: flex;
}

.content .logo img {
    color: #fff;
    height: 50px;
    margin: 0;
}

.content .links li {
    list-style: none;
    line-height: 70px;
}

.content .links li a,
.content .links li label {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.content .links li label {
    display: none;
}

.content .links li a:hover,
.content .links li label:hover {
    background: #323c4e;
}

.wrapper .search-icon,
.wrapper .menu-icon {
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
}

.wrapper .menu-icon {
    display: none;
}

.wrapper #show-search:checked~.search-icon i::before {
    content: "\f00d";
}


/* Search Box */

.wrapper .search-box {
    position: absolute;
    height: 100%;
    max-width: calc(100% - 50px);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.wrapper #show-search:checked~.search-box {
    opacity: 1;
    pointer-events: auto;
}

.search-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    color: #fff;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    padding: 0 100px 0 15px;
}

.search-box input::placeholder {
    color: #f2f2f2;
}

.search-box .go-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 60px;
    width: 40px;
    background: #171c24;
    border: none;
    outline: none;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.wrapper input[type="checkbox"] {
    display: none;
}


/* Cart */

.cart {
    cursor: pointer;
    display: flex;
    padding-left: 5px;
    margin: 0px 30px;
}

.cart i {
    position: relative;
    font-size: 25px;
    color: #fff;
}

.cart .num-cart-product {
    position: absolute;
    bottom: 18px;
    left: 18px;
    width: 20px;
    height: 20px;
    font-size: 0.8rem;
    border-radius: 50%;
    background-color: #0b9d8a;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}


/* User-Account */

.user-account {
    cursor: pointer;
    display: flex;
    padding-left: 5px;
    margin: 0px 10px;
}

.user-account i {
    font-size: 25px;
    color: #fff;
}


/* Dropdown Menu */

.content .links ul {
    position: absolute;
    background: #171c24;
    top: 80px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}

.content .links li:hover>ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}

.content .links ul li a {
    display: block;
    width: 100%;
    line-height: 30px;
    border-radius: 0px!important;
}

.content .links ul ul {
    position: absolute;
    top: 0;
    right: calc(-100% + 8px);
}

.content .links ul li {
    position: relative;
}

.content .links ul li:hover ul {
    top: 0;
}


/* Responsive */

@media only screen and (max-width: 1250px) {
    .wrapper nav {
        max-width: 100%;
        padding: 0 20px;
    }
    nav .content .links {
        margin-left: 30px;
    }
    .content .links li a {
        padding: 8px 13px;
    }
    .wrapper .search-box {
        max-width: calc(100% - 100px);
    }
    .wrapper .search-box input {
        padding: 0 100px 0 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .wrapper .menu-icon {
        display: block;
    }
    .wrapper #show-menu:checked~.menu-icon i::before {
        content: "\f00d";
    }
    nav .content .links {
        display: block;
        position: fixed;
        background: #14181f;
        height: 100%;
        width: 100%;
        top: 70px;
        left: -100%;
        margin-left: 0;
        max-width: 350px;
        overflow-y: auto;
        padding-bottom: 100px;
        transition: all 0.3s ease;
    }
    nav #show-menu:checked~.content .links {
        left: 0%;
    }
    .content .links li {
        margin: 15px 20px;
    }
    .content .links li a,
    .content .links li label {
        line-height: 40px;
        font-size: 20px;
        display: block;
        padding: 8px 18px;
        cursor: pointer;
    }
    .content .links li a.desktop-link {
        display: none;
    }
    /* dropdown responsive*/
    .content .links ul,
    .content .links ul ul {
        position: static;
        opacity: 1;
        visibility: visible;
        background: none;
        max-height: 0px;
        overflow: hidden;
    }
    .content .links #show-features:checked~ul {
        max-height: 100vh;
    }
    .content .links ul li {
        margin: 7px 20px;
    }
    .content .links ul li a {
        font-size: 18px;
        line-height: 30px;
        border-radius: 5px!important;
    }
}

@media only screen and (max-width: 767px) {
    .wrapper nav {
        padding: 0 10px;
    }
    .content .logo img {
        color: #fff;
        height: 20px;
        margin: 0;
    }
    .wrapper .search-box {
        max-width: calc(100% - 70px);
    }
    .wrapper .search-box .go-icon {
        width: 30px;
        right: 0;
    }
    .wrapper .search-box input {
        padding-right: 30px;
    }
    .wrapper .menu-icon {
        display: block;
    }
    .wrapper #show-menu:checked~.menu-icon i::before {
        content: "\f00d";
    }
    nav .content .links {
        display: block;
        position: fixed;
        background: #14181f;
        height: 100%;
        width: 100%;
        top: 70px;
        left: -100%;
        margin-left: 0;
        max-width: 350px;
        overflow-y: auto;
        padding-bottom: 100px;
        transition: all 0.3s ease;
    }
    nav #show-menu:checked~.content .links {
        left: 0%;
    }
    .content .links li {
        margin: 15px 20px;
    }
    .content .links li a,
    .content .links li label {
        line-height: 40px;
        font-size: 20px;
        display: block;
        padding: 8px 18px;
        cursor: pointer;
    }
    .content .links li a.desktop-link {
        display: none;
    }
    /* dropdown responsive*/
    .content .links ul,
    .content .links ul ul {
        position: static;
        opacity: 1;
        visibility: visible;
        background: none;
        max-height: 0px;
        overflow: hidden;
    }
    .content .links #show-features:checked~ul {
        max-height: 100vh;
    }
    .content .links ul li {
        margin: 7px 20px;
    }
    .content .links ul li a {
        font-size: 18px;
        line-height: 30px;
        border-radius: 5px!important;
    }
}


/* 
================
===Main contact===
================
*/


/* main form */

main {
    display: flex;
    justify-content: center;
}

.main_wrapper {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    width: 500px;
    max-width: 100%;
    padding: 25px;
    border-radius: 10px;
    top: 18%;
    position: absolute;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    box-shadow: 2px 2px 10px #00000080;
    border-top: 10px solid #3BAF9F;
}

.main_wrapper h2 {
    font-size: 24px;
    line-height: 24px;
    padding: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    border: 1px solid #FFF;
    ;
}

.input-group {
    margin-bottom: 12px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 10px 0;
}

.input-box {
    width: 100%;
    margin-right: 12px;
    position: relative;
}

.input-box label {
    position: absolute;
    bottom: 43px;
}

.input-box:last-child {
    margin-right: 0;
}

.name {
    padding: 10px 10px 10px 40px;
    width: 100%;
    border: 1px solid #00000033;
    outline: none;
    letter-spacing: 1px;
    transition: .3s;
    border-radius: 3px;
    color: #333;
    box-shadow: inset 0 1px 1px 0 #0000001a;
}

.name:focus {
    border: 1px solid #1ab188;
}

.name:focus::-webkit-input-placeholder {
    color: #333;
}

.input-group i {
    height: 36px;
    width: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1px;
    left: 1px;
    color: #13232fe6;
    border-radius: 2px 0 0 2px;
    transition: 0.3s;
    font-size: 18px;
    pointer-events: none;
    border-right: 1px solid #cccccc;
    border-bottom: none;
}

.name:focus+i {
    color: #1ab188;
    border-right: 1px solid #3BAF9F;
}

textarea {
    height: 125px;
}

.comm i {
    border: 1px solid #cccccc;
}

.comm label {
    bottom: 133px;
}


/* button */

button {
    background: #3BAF9F;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #fff;
    outline: none;
    padding: 0 10px;
    height: 50px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.6);
    letter-spacing: 1px;
    transition: 0.5s;
    width: 100%;
    font-size: 18px;
}

button:hover,
button:focus {
    background-color: #3BAF9F;
}


/* contact days */

.contact {
    font-size: 15px;
    margin-bottom: 12px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 10px 0;
}

.checkbox {
    padding-top: 10px;
    padding-left: 80px;
}

@media only screen and (max-width: 426px) {
    /* Main page */
    .main_wrapper {
        width: 100%;
    }
}


/* 
============
===Footer===
============ 
*/

#footer {
    line-height: 1.5;
    position: absolute;
    background-color: #24262b;
    padding: 20px 0;
    width: 100%;
    bottom: -90%;
    left: 0;
}

.footer .container {
    max-width: 1170px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.footer .row {
    display: flex;
    flex-wrap: wrap;
}

.footer ul {
    list-style: none;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0px 10px 10px 0px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5 ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.footer-col .pay-ship-logo {
    width: 200px;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0px 5px;
}

.footer-col .pay-ship-logo li {
    margin: 0 5px;
}

.footer-col .pay-ship {
    width: 30px;
    height: 30px;
}

.copyright {
    width: 300px;
    height: 10px;
    margin-left: 100px;
    margin-top: 50px;
}

.copyright span {
    font-size: 0.9rem;
    color: #ffffff;
    letter-spacing: 1px;
}

@media only screen and (max-width: 767px) {
    /* Footer */
    .footer-col {
        width: 100%;
    }
}

@media only screen and (max-width: 426px) {
    /* Footer */
    .footer-col {
        width: 100%;
    }
}