/* Google Font (Roboto 400). Link:https://fonts.google.com/specimen/Roboto?preview.text_type=custom */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* Set up */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Roboto', sans-serif;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
html{
  font-size: 89.5%;
}
img{
  max-width: 100%;
}
body{
  background: #f2f2f2;
}
/*
============
===Header===
============ 
*/

/* Navigation */
.nav-wrapper{
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.nav-wrapper nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
nav .content{
  display: flex;
  align-items: center;
}
nav .content .links{
  margin-left: 60px;
  display: flex;
}
.content .logo img{
  color: #fff;
  height: 20px;
  margin: 0;
}
.content .links li{
  list-style: none;
  line-height: 70px;
}
.content .links li a,
.content .links li label{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover{
  background: #323c4e;
}
.nav-wrapper .search-icon,
.nav-wrapper .menu-icon{
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.nav-wrapper .menu-icon{
  display: none;
}
.nav-wrapper #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}

/* Search Box */
.nav-wrapper .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.nav-wrapper #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  color: #f2f2f2;
}
.search-box .go-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 40px;
  background: #171c24;
  border: none;
  outline: none;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}
.nav-wrapper input[type="checkbox"]{
  display: none;
}

/* Cart */
.cart{
  cursor: pointer;
  display: flex;
  padding-left: 5px;
  margin: 0px 30px;
}

.cart i{
  position: relative;
  font-size: 25px;
  color: #fff;
}

.cart .num-cart-product{
  position: absolute;
  bottom: 18px;
  left: 18px;
  width: 20px;
  height: 20px;
  font-size: 0.8rem;
  border-radius: 50%;
  background-color: #0b9d8a;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}

/* User-Account */
.user-account{
  cursor: pointer;
  display: flex;
  padding-left: 5px;
  margin: 0px 10px;
}
.user-account i{
  font-size: 25px;
  color: #fff;
}



/* Dropdown Menu */
.content .links ul{
  position: absolute;
  background: #171c24;
  top: 70px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}

/* Responsive */
@media only screen and (max-width: 1250px){
  .nav-wrapper nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links{
    margin-left: 30px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .nav-wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .nav-wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}


@media only screen and (min-width: 768px) and (max-width: 1023px){
  .nav-wrapper .menu-icon{
    display: block;
  }
  .nav-wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: #14181f;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }

  /* dropdown responsive*/
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}

@media only screen and (max-width: 767px){
  .nav-wrapper nav{
    padding: 0 10px;
  }
  .content .logo img{
    color: #fff;
    height: 16px;
    margin: 0;
  }
  .nav-wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .nav-wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .nav-wrapper .search-box input{
    padding-right: 30px;
  }

  .nav-wrapper .menu-icon{
    display: block;
  }
  .nav-wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: #14181f;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }

  /* dropdown responsive*/
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}



/*
===============
===Home Page=== 
===============
*/

/* Heading Slider */
.heading{
  width: 100%;
	height: 95vh;
	overflow:hidden;
	position: relative;
  margin-bottom: 50px;
  top: 20px;
}

.heading .slide{
	position: absolute;
	left:0;
	top: 0px;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	z-index:1; 
	display:none;
	padding:0 15px;
	animation: slide 2s ease;
}
.heading .slide.active{
	display: flex;
}
@keyframes slide{
	0%{
		transform:scale(1.1);
	}
	100%{
		transform: scale(1);
	}
}
.container{
	max-width: 1170px;
	margin:auto;
	
}

.heading .container{
	 flex-grow: 1;
}
.heading .caption{
	width:50%;
}
.heading .caption h1{
	font-size:36px;
	color:#000000;
	margin:0;
}
.heading .slide.active .caption h1{
	opacity:0;
	animation: captionText 0.5s ease forwards;
	animation-delay:1s;
}
.heading .caption p{
	font-size: 16px;
	margin:15px 0 30px;
	color:#222222;
}
.heading .slide.active .caption p{
	opacity:0;
	animation: captionText 0.5s ease forwards;
	animation-delay:1.2s;
}
.heading .caption a{
  display: inline-block;
  padding:10px 30px;
  background-color: #000000;
  text-decoration: none;
  color:#ffffff;
}

.heading .slide.active .caption a{
	opacity:0;
	animation: captionText 0.5s ease forwards;
	animation-delay:1.4s;
}

@keyframes captionText{
	0%{
		opacity:0; transform: translateX(-100px);
	}
	100%{
	  opacity:1; transform: translateX(0px);	
	}
}

.heading .controls .prev,
.heading .controls .next{
  position: absolute;
  z-index: 2;
  top: 50%;
  height: 40px;
  width: 40px;
  margin-top: -20px;
  color:#ffffff;
  background-color: #4897D8;
  text-align: center;
  line-height: 40px;
  font-size:20px;
  cursor:pointer;
  transition: all .5s ease;
}
.heading .controls .prev:hover,
.heading .controls .next:hover{
	background-color: #000000;
}
.heading .controls .prev{
 left:0;
}
.heading .controls .next{
 right:0;
}

.heading .indicator{
	position: absolute;
	left:50%;
	bottom:30px;
	z-index: 2;
	transform: translateX(-50%);
}

.heading .indicator div{
	display: inline-block;
	width:15px;
	height: 15px;
	background-color: #71b7e6;
	border-radius:50%;
	text-align: center;
	line-height: 25px;
	margin:0 3px;
}

.heading .indicator div.active{
 background-color: #000;
}

/*responsive heading slider*/
@media only screen and (max-width: 767px){
	.home{
		height: 80vh;
	}
	.home .slide{
		width: 100%;
	}
	.controls{
		display: none;
	}
}

/* Collection */
.collection{
  display: flex;
  flex-direction: column;
}
.inside{
  position: relative;
  display: block;
  top: 30px
}
.collection-container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 10px 4% 50px;
}

.collection-box{
  background: #fff;
  height: 50%;
  position: relative;
  overflow: hidden;
  padding-top: 20px;
  border: 1px solid black;
  margin: 5px 10px;
  
}
.c-header{
  padding: 0 20px;
  margin-bottom: 10px;
}
.header-text{
  max-height: 54px;
  font-size: 1.2rem;
  line-height: 27px;
}

.c-body{
  height: 235px;
  padding: 0 20px;
}
.c-link{
  height: 100%;
  width: 100%;
}
.body-image{
  width: 100%;
  height: 60%;
  overflow: hidden;
  position: relative;
}
.body-image img{
  height: 90%;
  max-height: 100%;
  max-width: none;
  object-fit: cover;
  object-position: center;
}

.c-footer{
  padding: 0 20px;
  margin-bottom: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer-link{
  color: #007185;
}

/* Feature Categories */
.feature-categories{
  display: flex;
  flex-direction: column;
}

.categories-heading{
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start;
  flex-direction: column;
  margin-left: 160px;
  margin-top: 40px;
}

.categories-heading h2{
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #202020;
  font-weight: 900;
}

.feature-box{
  width: 100%;
  height: 90%;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}

.feature-box a img{
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
  margin-top: 20px;
}

.item span{
  width: 100%;
  height: 40px;
  font-size: 85%;
  font-weight: 600;
  color: #444444;
  text-align: center;
  position: absolute;
}

.item{
  display: block;
  width: 188px;
  height: 270px;
  background-color: #fff;
  margin: 5px 5px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;

}

.item:hover{
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.feature-categories .container{
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 10% 40px;
}



/* New Store, Products */
.new-heading{
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start;
  flex-direction: column;
  margin-left: 160px;
  margin-top: 40px;
}

.new-heading h2{
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #202020;
  font-weight: 900;
}

.new-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  /* height: 300px; */
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: hidden;
  background-color: #fff;
}

section .thumbnail-box-1, 
section .thumbnail-box-2 {
  width: 190px;
  flex: 0 0 auto;
  object-fit: cover;
  cursor: pointer;
  margin: 5px;
  border: 1px solid black;
  overflow: hidden;
  transform: scale(0.9);
  transition: all .3s;
}

section .thumbnail-box-1:hover
section .thumbnail-box-2:hover {
  transform: scale(0.95);
}

.new-slide-container {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.control .slide-left,
.control .slide-right{
  position: absolute;
  z-index: 2;
  height: 40px;
  width: 40px;
  margin-top: -20px;
  color:#ffffff;
  background-color: #4897D8;
  text-align: center;
  line-height: 40px;
  font-size:20px;
  cursor:pointer;
  transition: all .5s ease;
}
.control .slide-left:hover,
.control .slide-right:hover{
	background-color: #000000;
}
.control .slide-left{
 left: 180px;
}
.control .slide-right{
 right: 180px;
}

@media only screen and (max-width: 767px){
	.control{
		display: none;
	}
}

/* Feature Stores */
.shop-heading{
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start;
  flex-direction: column;
  margin-left: 160px;
  margin-top: 40px;
}

.shop-heading h2{
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #202020;
  font-weight: 900;
}

.shop-container{
  width: 85%;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: 10px 11% 40px;
}

.shop-box{
  display: block;
  width: 188px;
  height: 270px;
  background-color: #fff;
  margin: 5px 5px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.s-overlay{
  width: 188px;
  height: 36px;
  top: 152px;
  left: 0;
  position: absolute;
  opacity: 0.25;
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 100%);

}

.s-img{
  width: 188px;
  height: 188px;
  overflow: hidden;
  background-color: #f5f5f5;
}

.s-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;

}

.s-icon{
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 25%);
  width: 52px;
  height: 52px;
  background-color: #fff;
  padding: 4px;
  position: relative;
  margin: -25px auto 0;
  overflow: hidden;
}

.s-icon img{
  width: 100%;
  object-fit: contain;
  object-position: center;
  background-color: #f5f5f5;
}

.s-name, .s-name-p{
  position: relative;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.s-name{
  font-size: 14px;
  color: #212121;
  line-height: 18px;
  margin: 8px 8px 4px;
}

.s-name-p{
  font-size: 12px;
  line-height: 14px;
  color: #9e9e9e;
  margin: 0 8px;
}

.shop-box:hover{
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.shop-box:hover .shop-icon{
  display: flex;
}

.mall-shop{
  display: flex;
  flex-direction: column;
}

/* Feature Products */
.suggestion-heading{
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start;
  flex-direction: column;
  margin-left: 160px;
  margin-top: 40px;
}

.suggestion-heading h2{
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #202020;
  font-weight: 900;
}

.product-container{
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: 10px 10%;
  background: #fff;
}

.product-box{
  display: block;
  width: 189px;
  height: 325px;
  background-color: #fff;
  margin: 8px 8px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.product-img{
  height: 200px;
  box-sizing: border-box;
}

.product-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.product-details{
  display: flex;
  flex-direction: column;
  padding: 4px 8px 12px;
  background: #fff;
  border-top: 1px solid #f3f3f3;
}

.p-title{
  font-size: 15px;
  height: 36px;
  line-height: 18px;
  color: #212121;
  white-space: pre-wrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.fa-star, .user-rating .footing{
  font-size: 10px;
}
.checked{
  color: orange;
}

.user-rating .footing{
  color: #727272;
}

.p-price{
  margin-top: 4px;
}

.price-first-line{
  line-height: 22px;
  height: 22px;
  font-size: 18px;
  color: red;
}

.price-second-line{
  margin-top: 4px;
  margin-right: 4px;
  line-height: 14px;
  height: 14px;
  color: #9e9e9e;
  font-size: 12px;
  display: flex;
  flex-direction: initial;
}

.price-second-line .price-text{
  text-decoration: line-through;
}

.price-second-line .discount-text{
  margin: 0px 4px;
  color: #ffffff;
  opacity: 0.8;
  background-color: red;
}

.product-box:hover{
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.suggestion-today{
  display: flex;
  flex-direction: column;
}

/* Service */
.services{
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 70px;
}
.services-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0,0,0,0.1);
  min-width: 250px;
  padding: 20px;
  margin: 15px;
  flex-grow: 0.7;
}
.services-box i{
  color: #0b9d8a;
  font-size: 2rem;
  margin: 15px;
}
.services-box span{
  color: #222222;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 1rem;
}
.services-box p{
  color: #878787;
  margin: 0px;
  font-size: 0.9rem;
}








/* 
============
===Footer===
============ 
*/

#footer{
  line-height: 1.5;
  position: relative;
  background-color: #24262b;
  padding: 20px 0;
  width: 100%;
}

.footer .container{
  max-width: 1170px;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.footer .row{
  display: flex;
  flex-wrap: wrap;
}

.footer ul{
  list-style: none;
}

.footer-col{
  width: 25%;
  padding: 0 15px;
}

.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0px 10px 10px 0px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5 ease;
}

.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

.footer-col .pay-ship-logo{
  width: 200px;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0px 5px;
}
.footer-col .pay-ship-logo li{
  margin: 0 5px;
}
.footer-col .pay-ship{
  width: 30px;
  height: 30px;
}

.copyright{
  width: 300px;
  height: 10px;
  margin-left: 100px;
  margin-top: 50px;
}

.copyright span{
  font-size: 0.9rem;
  color: #ffffff;
  letter-spacing: 1px;
}

@media only screen and (max-width: 767px){
  .footer-col{
    width: 25%;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 574px){
  /* Footer */
  .footer-col{
    width: 100%;
  }
}


