/* display background */
*{
    margin: 0;
    padding: 0;

}
/* Display background*/
body{
    display: block;
    height: 160vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: white;
    background-position: center;
    font-family: sans-serif;
    margin-top: 40px;
}
/* Title  */
.regform{
    width: 800px;
    background-color: rgb(0,0,0, 0.6);
    margin: auto;
    color: #FFFFFF;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}
/* Form and main table */
.main{
    background-color: rgb(0, 0, 0, 0.4);
    width: 800px;
    margin: auto;
}
/* Form */
form{
    padding: 20px;
}

#name{
    width: 100%;
    height: 60px;
}
/* Main form for the the register form */
.name{
    margin-left: 25px;
    margin-top: 30px;
    width: 125px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}
/* Input first name, last name, and their label bellow */
.firstname{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}
.lastname{
    position: relative;
    left: 420px;
    top: -80px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 16px;
    font-size: 16px;
    color: #555;
}
.firstlabel{
    position: relative;
    color: #E5E5E5;
    text-transform: capitalize;
    font-size: 16px;
    left: 203px;
    top: -45px;
}
.lastlabel{
    position: relative;
    color: #E5E5E5;
    text-transform: capitalize;
    font-size: 16px;
    left: 185px;
    top: -45px;
}
/* Input email */
.email{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 485px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
/* input area code, phone number and their label bellow */
.code{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 95px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
.number{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 255px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
.area-code{
    position: relative;
    color: #E5E5E5;
    text-transform: capitalize;
    font-size: 16px;
    left: 54px;
    top: -1px;
} 
.phone-number{
    position: relative;
    color: #E5E5E5;
    text-transform: capitalize;
    font-size: 16px;
    left: -100px;
    top: -1px;
}
/* input password and retype password */
.password{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 485px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
.retype_password{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 485px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
/* input address */
.address{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 485px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
/* input city */
.city{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 250px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
/* input zipcode */
.zipcode{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 80px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
/* Display dropdown select */
.option{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 532px;
    height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
    outline: none;
    overflow: hidden;
} 
/* font letter */
#account{
    margin-left: 25px;
    color: white;
    font-size: 18px;
}
/* radio display */
.radio{
    display: inline-block;
    padding-right: 150px;
    font-size: 20px;
    margin-left: 80px;
    margin-top: 15px;
    color: white;
}

.radio input{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}
/* display profile img */
img{
    height: 200px;
}

.profile-pic{
    height: 200px;
    width: 200px;
    position: relative;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
}
#photo{
    height: 100%;
    width: 100%;
}
#file{
    display: none;
}
#uploadBtn{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7) ;
    color: wheat;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
}
/* change link color letter */
a{
   color: blue; 
}
/* register button */
button{
    background-color: #3BAF9F;
    display: block;
    margin: 20px 0px 0px 20px;
    text-align: center;
    border-radius: 12px;
    border: 2px solid #366473;
    padding: 14px 340px;
    outline: none;
    color: white;
    cursor: pointer;
    transition: 0.25px;
}
button:hover{
    background-color: #5390F5;
}